.content {
  color: #4a4a4a;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -0.5em 0 1em;
}

.date {
  margin-right:2em;
  font-size: 1.1em;

  & > svg {
    margin-right: 0.5em;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & > svg {
    margin-right: 0.5em;
  }
}