{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.md", "README"],
      "options": {
        "parser": "markdown-nocjsp"
      }
    },
    {
      "files": ["*.mdx"],
      "options": {
        "parser": "mdx-nocjsp"
      }
    }
  ]
}
