.content {
  display: flex;
  margin-bottom: 2em;
}

.avatar {
  margin-right: 12px;
  margin-bottom: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%,
}

.main {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  font-size: 1.6em;

  &__link {
    padding: 0;
    margin-right: 18px;
    border: 0;
    display: block;
    box-shadow: none;
  }
  &__icon {
    display: block;

    $parent: &;
    &_qiita {
      @extend #{$parent};
      overflow: hidden;
      height: 0.9em;
      width: 0.9em !important; // SVNのstyle属性を上書きするため
      background-color: #4cb10d;
      border-radius: 2px;
      margin-top: 2px;
    }
  }
}

@media screen and (max-width: 400px) {
  .description {
    font-size: 0.7em;
  }
}
