.content {
  padding: 12px;
  margin-top: 64px;
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 12px;
  will-change: transform;
  font-size: 14px;

  ul {
    list-style: none;
    margin-top: 0;

    li {
      margin-bottom: 1px;
      margin-left: 12px;

      a {
        display: block;
        padding-left: 2px;
        box-shadow: none;
        color: #aaa;
        border-radius: 4px;
        background-color: white;
        letter-spacing: 0; // 幅が狭いので詰め詰めにする

        &:hover {
          background: #fee;
          text-decoration: underline #cbb;
          color: #000;
          transition: background-color 0.2s ease-out;
        }

        &.active {
          background-color: #fffbf0;
          color: #888;
          transition: background-color 0.2s ease-out;
        }
      }
    }
  }
}
