.content {
  display: flex;
  justify-content: flex-end;
  height: 42px;
  position: absolute;
  bottom: 0;
  right: 24px;

  .button {
    text-align: center;
    display: block;
    box-shadow: none;
    margin-left: 12px;
    height: 42px;

    img {
      margin: 0;
    }
    svg {
      color: #444;
      height: 38px;
      width: 24px !important;
    }
  }
  .github_icon {
    text-align: center;
    display: block;
    box-shadow: none;
    margin-left: 12px;
    height: 42px;
    width: 30px;
    margin-top: 2px;
    box-shadow: none;
    background-repeat: no-repeat;
    background-image: url(../../images/github.svg);
  }
}


@media screen and (max-width: 580px) {
  .content {
    height: 36px;
    right: 12px;
    bottom: -42px;

    .button {
      margin-left: 12px;
      height: 36px;

      img {
        height: 32px;
        width: 32px;
      }
      svg {
        height: 34px;
        width: 20px !important;
      }
    }
  }

}
