.content {
  display: flex;
  justify-content: flex-end;
  height: 42px;
  position: absolute;
  bottom: 0;
  right: 24px;

  .button {
    text-align: center;
    display: block;
    box-shadow: none;
    margin-left: 12px;
    height: 42px;

    img {
      margin: 0;
    }
    svg {
      color: #444;
      height: 38px;
      width: 24px !important;
    }
  }
  .link_button {
    text-align: center;
    display: block;
    height: 36px;
    background-size: contain;
    box-shadow: none;
    color: white;
    font-weight: 600;
    background: #f74539;
    border-radius: 18px;
    line-height: 35px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      transform: scale(1.02);
    }
  }
}


@media screen and (max-width: 580px) {
  .content {
    z-index: 2;
    height: 36px;
    right: 12px;
    bottom: -42px;

    .button {
      margin-left: 12px;
      height: 36px;

      img {
        height: 32px;
        width: 32px;
      }
      svg {
        height: 34px;
        width: 20px !important;
      }
    }
  }

}
