
// SNS共有部分
.content {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 50px;
}

.share_button {
  display: inline-block;
  margin: 0 8px;
  &:first-child {
    margin-left: 0;
  }

  & svg:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.pocket_icon_link {
  box-shadow: none;
  width: 32px;
  height: 32px;
  background: #f92323;
  display: block;
  border-radius: 16px;
  text-align: center;
  line-height: 34px;
}

.pocket_icon {
  font-size: 18px;
}