@import "../../css/base";

.root_container {
  width: 100%;
  margin: 0;
}


.header_container {
  @include flex-column-center();
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  min-height: 65vh;
  position: relative;

  // boi用
  & div {
    color: white;
  }

  &:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background: linear-gradient(125deg,#8A5E5F,#d8bb93);
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    animation: show-background 1.2s both 1s;
  }

  &__inner {
    animation: fade-in-down .6s both .5s;
    z-index: 2;

    .blog_title_area {
      font-size: 4em;
      margin-bottom: .5em;
      margin-top: 0;
      font-family: Montserrat;
      line-height: 1.5;

      .blog_title {
        box-shadow: none;
        font-family: Montserrats, ans-serif;
        color: white;
      }
    }
  }
}


@media screen and (max-width: 720px) {
  .header_container {
    background-attachment: scroll;
  }
}



@media screen and (max-width: 600px) {
  .header_container {
    min-height: 40vh;

    &__inner {
      .blog_title_area {
        text-align: center;
    
        a {
          font-size: 36px;
        }
      }
    }
  }
}



@media screen and (max-width: 500px) {

  .blog_title_area {
    text-align: center;

    a {
      font-size: 28px;
    }
  }

  .header_container {
    min-height: 30vh;
  }
}


@keyframes show-background {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@webkit-keyframes show-background {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
