.header_background {
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  & a, & div {
    color: white;
  }
}

.header_content {
  z-index: 2;
}

@media screen and (max-width: 580px) {
  .header_background {
    background-size: 200%;
  }
}

.header_background:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  background: linear-gradient(125deg,#8A5E5F,#d8bb93);
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  animation: show-background 1.2s both 1s;
}


@keyframes show-background {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@webkit-keyframes show-background {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}