.content_link {
  display: block;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  background-color: white;
  color: black;
  transition: background-color 0.1s linear;

  .content_thumbnail {
    width: 5rem;
    height: 5rem;
    float: left;

    .content_thumbnail_image {
      border-radius: 4px;
      object-fit: contain;
      width: 100%;
      height: 100%
    }
  }

  .content_post_info {
    display: table-cell;
    vertical-align: middle;
    height: 5rem;
    padding: 0 .75rem;

    .title {
      font-size: 1rem;
      margin-bottom: 0.7rem;
      margin-top: 0rem;
      border-bottom: 0;
      transition: color 0.1s linear;
    }

    .post_meta_info {
      font-size: 14px;
      * {
        color: rgb(151, 151, 151);
      }
    }
  
  
    &:hover {
      background-color: #fcfcfc;
      transition: background-color 0.3s linear;
  
      .title {
        transition: color 0.3s liner;
      }
    }

    @media screen and (max-width: 680px) {
      .title {
        font-size: 0.7rem;
      }
    }
    
  
    p {
      font-size: 1rem;
    }
  
  }
}




.meta_info {
  color: #99a;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -0.5em 0 2em;

  &__date {
    margin-right:2em;
    font-size: 1.1em;

    & > svg {
      margin-right: 0.5em;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & > svg {
      margin-right: 0.5em;
    }
  }
}


