.content {
  border-bottom: 1px solid #ebf2f6;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  padding: .75rem 1.75rem;
  background: white;
  max-width: 100%;

  .content_thumbnail_container {
    overflow: hidden;
    margin-bottom: .75rem;
    margin-left: -1.75rem;
    margin-right: -1.75rem;
    margin-top: -.75rem;
  }
  
  .title_link {
    box-shadow: none;
    color: #4a4a4a;
    font-size: 1.2em;
    line-height: 1em;



    &:hover {
      opacity: 1;
      .content_thumbnail {
        transform: scale(1.04);
      }
      .title, .content_text {
        color: #989EB0;
      }
    }
  }
}


.content_thumbnail {
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

  .content_thumbnail_image {
    object-fit: contain;
    width: 100%;
    max-height: 230px;
    height: 100%;
    margin: 0;
  }
}

.content_post_info {
  display: table-cell;
  vertical-align: middle;
  height: 5rem;
  padding: 0 .5rem;
  

  .title {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 16px;
    word-break: break-all;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .content_text {
    color: #414141;
    font-size: 12px;
    word-break: break-all;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }


  .meta_info {
    color: #99a;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -0.5em 0 2em;

    &__date {
      margin-right:2em;
      font-size: 1.1em;

      & > svg {
        margin-right: 0.5em;
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      & > svg {
        margin-right: 0.5em;
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .content {
    padding: .75rem .75rem;

    .content_thumbnail_container {
      margin-bottom: .75rem;
      margin-left: -.75rem;
      margin-right: -.75rem;
      margin-top: -.75rem;
    }
    
    .content_post_info {
      padding: 0 .1rem;

      .title {
        line-height: 1.1;
        
        &_link {
          font-size: .8em;
        }
      }
    }
  }

}
