
@import "../../css/base";

@mixin paging_link {
  display: block;
  // border: #f13f79 1px solid;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1em;
  color: #444;
  background-color: #ffffff;
  transition: background-color 0.1s linear, color 0.1s linear;
  &:hover {
    background-color: #dc3614;
    color: black;
    transition: background-color 0.3s linear, color 0.3s liner;
  }
}

@mixin tomato($rotate-deg) {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
  background-image: url(../../images/tomato.svg);
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  margin: 0.5rem;

  -webkit-transform: rotate($rotate-deg) 
}

@mixin rotate-tomato($delay-time) {
  @include tomato(0deg);

  -webkit-animation: spin 2s linear $delay-time infinite;
  -moz-animation: spin 2s linear $delay-time infinite;
  -ms-animation: spin 2s linear $delay-time infinite;
  -o-animation: spin 2s linear $delay-time infinite;
  animation: spin 2s linear $delay-time infinite;
}


@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}




.context {
  padding: 2rem 0;
  background: rgb(238, 238, 238);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);

  .context_header {
    margin-top: -1rem;
    text-align: center;
    
    .context_header_tomato {
      @include tomato(0deg);
    }
  }
}


.posts_category {
  font-size: 1rem;
  text-align: left;
  box-shadow: none;
  border-bottom: 1px dotted gray;
  letter-spacing: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: gray;
}



.posts_context {
  padding: 12px;
  margin: 0;
}


.link_to_list {
  width: 100%;
  text-align: center;
  @include paging_link();
  font-size: 1rem;
  line-height: 2rem;

  .tomato_icon_title {
    letter-spacing: 1rem;
    margin-right: -1rem;
  }

  .tomato_icon_1 {
    @include rotate-tomato(0.4s);
  }

  .tomato_icon_2 {
    @include rotate-tomato(0.8s);
  }

  .tomato_icon_3 {
    @include rotate-tomato(1.2s);
  }
    
  .tomato_icon_4 {
    @include rotate-tomato(1.6s);
  }
}
