@mixin gradient-background {
  background: -moz-linear-gradient(65deg, #F13F79, #FFC778);
  background: -webkit-linear-gradient(65deg, #F13F79, #FFC778);
  background: linear-gradient(25deg, #F13F79, #FFC778);
}

@mixin max-content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 710px;
  width: 100%;
}

@mixin full-width {
  width: 100vw;
  overflow: hidden;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}


@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}



$colorFontSection: #444;

