.code-lang {
  color: #eee;
  display: inline-block;
  background-color: #777;
  padding: 2px 4px;
  transform: translateY(-1em);
  word-break: break-all;

}

.code-frame, .highlight {
  background-color: #364549;
  color: #e3e3e3
}

.code-frame {
  margin: 1.5em 0;
    padding: 1em 16px;
    font-size: .9em;
}

.highlight .c, .highlight .ch, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs, .highlight .gu {
  color: #9dabae
}

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .no {
  color: #ebd247
}

.highlight .fm, .highlight .gi, .highlight .na, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .nf, .highlight .nx {
  color: #8bdf4c
}

 .highlight .o, .highlight .gd, .highlight .kn, .highlight .nt, .highlight .ow {
  color: #ff8095
}

 .highlight .ld, .highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #41b7d7
}

 .highlight .l, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .se, .highlight .il {
  color: #a980f5
}

 .highlight .n, .highlight .p, .highlight .nb, .highlight .ni, .highlight .nl, .highlight .nn, .highlight .py, .highlight .nv, .highlight .w, .highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #e3e3e3
}

.highlight .hll {
  background-color: #49483e
}

.highlight .err {
  border-bottom: 2px dotted #c01b1b;
  color: #ddd
}

.highlight .ge {
  font-style: italic
}

.highlight .gs {
  font-style: bold
}

.highlight {
  padding: .5em;
  overflow-x: auto
}
