
// フッター部分
.content {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background-size: cover;
  background-position-x: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  & a {
    color: white;
  }

  &__inner {
    padding: 24px 0 12px;
    margin: auto;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
  font-family: Montserrat;
  text-transform: none;
  margin: 48px auto 8px;

  &__link {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
  }
}

.copyright {
  font-size: 0.9em;
  display: inline-block;
  vertical-align: bottom;
}

.tomato_icon {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
  background-image: url(../../images/tomato.svg);
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  margin: 0 0 0.4em 0.2em;
}

.github_icon {
  display: inline-block;
  margin-left: 12px;
  box-sizing: border-box;
  vertical-align: bottom;
  padding: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: none;
  background-image: url(../../images/github.svg);
}
