
@import "../../css/base";


.content {
  // to make about button clickable
  padding-top: 72px;
  width: 100%;
  background: #f1f1f1;
  // animation: fade-in-down .7s both;
}

.content_inner {
  padding: 0 72px 72px 72px;
  animation: fade-in-down .6s both .5s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  // grid-auto-rows: 1fr;
  grid-gap: 40px;
}

.pagination_area {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}

.pagination_button {
  text-align: center;
  display: block;
  height: 48px;
  background-size: contain;
  box-shadow: none;
  color: #fff;
  background: #f74539;
  border-radius: 24px;
  line-height: 25px;
  padding: 6px 24px;
  cursor: pointer;
  font-size: 24px;
  transition: all .4s cubic-bezier(.645,.045,.355,1);
  border: 0;

  &:hover {
    transform: scale(1.02);
    opacity: 0.7;
  }
}


@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@media screen and (max-width: 680px) {
  .content {
    // to make about button clickable
    padding-top: 36px;
  }
  .content_inner {
    padding: 0 36px 36px 36px;
    grid-gap: 20px;
  }
  .pagination_area {
    padding-bottom: 36px; 
  }
}

@media screen and (max-width: 580px) {
  .content {
    // to make about button clickable
    padding-top: 72px;
  }
  .content_inner {
    padding: 0 10px 10px 10px;
  }
  .pagination_area {
    padding-bottom: 10px; 
  }
}

@media screen and (max-width: 450px) {
  .content_inner {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  }
  .pagination_area {
    padding-bottom: 10px; 
  }
}
