
@import "../../css/base";


.content {
  width: 100%;
  background: #f1f1f1;
  // animation: fade-in-down .7s both;
}

.content_inner {
  padding: 72px;
  animation: fade-in-down .6s both .5s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  // grid-auto-rows: 1fr;
  grid-gap: 40px;
}

.pagination_area {
  text-align: center;
  width: 100%;
}

.pagination_button {
  text-align: center;
  display: block;
  height: 36px;
  background-size: contain;
  box-shadow: none;
  color: white;
  font-weight: 600;
  background: #f74539;
  border-radius: 18px;
  line-height: 35px;
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    transform: scale(1.02);
  }
}


@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@media screen and (max-width: 680px) {
  .content {
    padding: 36px;
    grid-gap: 20px;
  }  
}

@media screen and (max-width: 580px) {
  .content {
    padding: 72px 10px 10px 10px;
  }
}

@media screen and (max-width: 450px) {
  .content {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  }
}
