on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
permissions:
  contents: write
  pull-requests: write
  statuses: write
  deployments: write
jobs:
  deploy_preview:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18.12.1

      - run: npm ci --legacy-peer-deps

      - run: npm run build

      - name: Set GitHub Deployment Environment
        id: github_deployment_environment
        run: |
          if [ "$GITHUB_EVENT_NAME" = "push" ]; then
            echo "GITHUB_DEPLOYMENT_ENVIRONMENT=Netlify prd" >> "${GITHUB_OUTPUT}"
          else
            echo "GITHUB_DEPLOYMENT_ENVIRONMENT=Netlify preview" >> "${GITHUB_OUTPUT}"
          fi

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0
        with:
          publish-dir: './public'
          production-branch: master
          github-deployment-environment: ${{ steps.github_deployment_environment.outputs.GITHUB_DEPLOYMENT_ENVIRONMENT }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: ${{ github.event.head_commit.message || github.event.pull_request.title }}
          alias: deploy-preview-${{ github.event.number }}
          fails-without-credentials: true
          production-deploy: ${{ GITHUB_EVENT_NAME == 'push' }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
