.text_svg {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #f7f7f7;
}

.tag_svg {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #f7f7f7;
}

.title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.svg_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}
